fastapi
uvicorn[standard]

sqlalchemy>=2.0
asyncpg
alembic
uuid-utils

pwdlib[argon2]
pyjwt[crypto]
python-multipart

pydantic[email]
pydantic-settings

# Dev tooling
ruff
black
pytest
pytest-asyncio
httpx
